<div class="form-section" style="width: 350px; margin: auto;">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-floating" }) do |f| %>
    <div class="form-floating mb-3">
      <%= f.email_field :email, autocomplete: "email", placeholder: "Email address", class: "form-control", id: "floatingInput" %>
      <%= f.label :email, "Email address", class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", id: "floatingPassword" %>
      <%= f.label :password, "Password", class: "form-label" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= render "agents/shared/links" %>
</div>
