<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2>実行中...</h2>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <h2>案件追加 (500円)</h2>
  <div class="d-flex gap-2">
    <%= link_to "シートはこちら", "https://docs.google.com/spreadsheets/d/1R5_3hbo0pvgSytMcdSqUlaOKgbX89qRJulItVt0_HFw/edit?usp=sharing", target: "_blank", class: "btn btn-light"%>
    <%= button_to "実行する", add_project_500_path, method: :post, id: "execute-button", class: "btn btn-primary" %>
  </div>
</div>

<div class="container mt-5">
  <h2>代理店の日付変更</h2>
  <%= link_to "使い方はこちら", "https://www.canva.com/design/DAF950u9zTA/MAe28FNd5r5cK7f-F3-g5Q/view?utm_content=DAF950u9zTA&utm_campaign=designshare&utm_medium=link&utm_source=editor", target: "_blank", class: "btn btn-light mb-4"%>

  <%= form_with url: change_interview_date_path, class: "" do |form| %>
    <div class="d-flex gap-2 mb-3">
      <div class="">
        <%= form.label :link, "リンク", class: "form-label" %>
        <%= form.text_field :link, id: "link-input", class: "form-control", placeholder: "URL" %>
      </div>
      <div class="">
        <%= form.label :date, "希望変更日", class: "form-label" %>
        <%= form.date_field :date, id: "date-input", class: "form-control", placeholder: "希望変更日" %>
      </div>
    </div>
    <div class="">
      <%= form.submit "実行する", id: "execute-button-02", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



<script>
    // ローディングモーダルを表示する関数
    function showLoadingModal() {
        var myModal = new bootstrap.Modal(document.getElementById('loadingModal'), {});
        myModal.show();
    }

    // ローディングモーダルを非表示にする関数
    function hideLoadingModal() {
        var myModalEl = document.getElementById('loadingModal');
        var modal = bootstrap.Modal.getInstance(myModalEl); // モーダルのインスタンスを取得
        modal.hide();
    }

    // 例: ボタンクリックでローディングモーダルを表示
    document.getElementById("execute-button").addEventListener("click", function() {
        showLoadingModal();
    });

    document.addEventListener("DOMContentLoaded", function() {
      // 例: ボタンクリックでローディングモーダルを表示
      document.getElementById("execute-button-02").addEventListener("click", function() {
          showLoadingModal();
      });
    });

</script>
