<div class="centered-container">
    <div class="d-flex flex-row flex-nowrap card-slider">
        <div class="">
            <div class="progress-indicator mb-4">
                <div class="step active">
                    <div class="step-icon"><i class="bi bi-person-check"></i></i></div>
                    <div class="step-label">Step1</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="bi bi-chat-left-dots"></i></div>
                    <div class="step-label">Step2</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="bi bi-check-circle"></i></div>
                    <div class="step-label">Step3</div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title mb-0 fw-medium">収益化までの流れを確認</h6>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#step01">
                        もっと詳しく
                    </button>
                    <div class="modal fade" id="step01" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="step01Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="step01Label">収益化までの流れを確認しよう</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>最も収益化しやすい方法は「無料インスタコンサルへの送客」です。ビジネス目的のインスタアカウントは国内に1000万アカウントあると言われています。
                                    <br><br>そこで「無料でコンサルをするよ」と提案することで、どれだけの反響があるか想像してみてください。このアプローチにより私たちはたくさんのアポを獲得できます。
                                    <br><br>皆さんが行うことはスキマ時間に1日20通ほどDMをポチポチと送るだけ、あとはラテでも飲みながらゆっくりしてください。面倒な日程調整や難しいコンサルは全部僕たちに丸投げできます。
                                    <br><br>下の画像が収益化プロセスの全体像になります。</p>
                                    <%= image_tag 'flow_to_monetization.png', class: 'd-block w-100 rounded' %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-1" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title mb-0 fw-medium">「どんな内容」のDMを送るのか</h6>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        もっと詳しく
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">「どんな内容」のDMを送るのか</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>「よし、そしたらDMを送ってみよう！」となった時、皆さんが必ず躓くポイントは「誰に」「どんな内容」を送れば良いかです。</p>
                                    <p>色々なDM内容がありますが、迷ったらまずは下記のテンプレをコピペして送ってみて下さい。</p>
                                    <p>＝＝＝＝＝＝＝＝＝＝＝＝＝<br>〇〇さんの投稿を見させて頂き、ピッタリだと思いお声掛けさせて頂きました！
                                    <br><br>将来弊社からのPRのお仕事を受けていただく事が条件なのですが、その代わりフォロワーが1万人に達し影響力がつくまで、弊社が徹底的に無料でサポートします🙇
                                    <br><br>ご興味があれば、添付させて頂いたリンクを確認して頂いた後に「興味あり」と返信を下さい！
                                    <br>https://www.lim-japan.com/?original_id=あなたのID
                                    <br>＝＝＝＝＝＝＝＝＝＝＝＝＝</p>
                                    <p>※あなたの代理店IDは<a href="https://mds-fund.herokuapp.com/" target="_blank" rel="noopener noreferrer" class="custom-link">クラスタ管理画面</a>の左上にあります</p>
                                    <%= image_tag 'how_to_find_ur_agent_id.png', class: 'd-block w-100 rounded' %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-2" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title mb-0 fw-medium">「誰に」DMを送るのか</h6>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#step02">
                        もっと詳しく
                    </button>
                    <div class="modal fade" id="step02" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="step02Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="step02Label">「誰に」DMを送るの</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>「誰に」送るかはおばあちゃんでもわかるくらいシンプルなスライド資料にしました。効果的なターゲットの探し方や実際のターゲット例について詳しく解説しています。</p>
                                    <div class="custom-step-div">
                                        <%= image_tag 'how_to_get_appt.png', class: 'd-block w-50 rounded' %>
                                    </div>
                                    <%= link_to '資料を見る', "https://bit.ly/how-to-get-insta-appt", target: "_blank", class: 'btn btn-light w-100'%>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">確認した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-3" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
            <%= link_to "戻る", :back, class: "btn" %>
        </div>
    </div>
  </div>

 <style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* ビューポートの高さに合わせる */
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
        border-left: 2px solid #f0f0f0;
        border-right: 2px solid #f0f0f0;
        padding: 10px;
    }

    .progress-indicator {
        width: 320px;
    }
    .custom-link {
        color: #007bff; /* Bootstrapのデフォルトリンク色 */
    }
    .custom-link:hover {
        color: #0056b3; /* ホバー時の色を少し濃く */
    }
    .card-slider {
        overflow-x: auto;
    }

    .custom-step-div {
        margin-bottom: 20px;
        display: flex; 
        align-items: center;
        justify-content: center; /* これを追加 */

    }

    .card {
        flex: 0 0 auto;
    }

    .clicked {
        color: #007bff; /* 例として青色を使用 */
    }

    .step-check-btn {
        cursor: pointer;
    }

    .modal-dialog {
        max-width: 450px;
    }

.progress-indicator {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 20px; /* アイコンの外側に線が表示されないようにするためのパディング */
}

.progress-indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); /* 線を垂直方向の中心に調整 */
  height: 2px; /* 線の太さ */
  background: #6c757d; /* Bootstrapのセカンダリーカラー */
  z-index: 1;
}

.step {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.step .step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6c757d; /* Bootstrapのセカンダリーカラー */
  color: white;
  z-index: 3;
  position: relative;
}

.step.active .step-icon {
  background: #007bff; /* Bootstrapのプライマリーカラー */
}

/* アクティブなステップと非アクティブなステップの間の線の色を変更するためのスタイル */
.step.active + .step::before {
  width: 50%; /* 現在のステップから次のステップまでの半分 */
  background: #007bff; /* Bootstrapのプライマリーカラー */
}

.step-label {
  margin-top: 8px;
  font-size: 14px;
  color: #6c757d; /* Bootstrapのセカンダリーカラー */
}

.bi {
  font-size: 20px;
}


    @media (max-width: 576px) {
        .modal-dialog {
            max-width: 100%;
        }
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // それぞれのアイコンを取得
        var checkIcon1 = document.getElementById('checkIconStep1-1');
        var checkIcon2 = document.getElementById('checkIconStep1-2');
        var checkIcon3 = document.getElementById('checkIconStep1-3');

        // それぞれのアイコンにクリックイベントリスナーを追加
        checkIcon1.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
        checkIcon2.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
        checkIcon3.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
    });

  </script>