<div class="form-section" style="max-width: 600px; margin: auto;">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-floating" }) do |f| %>
    <%= render "agents/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", id: "floatingEmail" %>
      <%= f.label :email, "メールアドレス", class: "form-label" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= render "agents/shared/links" %>
</div>
