<style>
  .custom-btn-color {
      color: white;
      background-color: #007bff;
  }

  .custom-btn-color:hover {
      color: white;
      background-color: #007bff;
      opacity: 0.8;
  }
</style>

<div class="form-section" style="width: 350px; margin: auto;">
  <h2>アカウント情報</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-floating" }) do |f| %>
    <%= render "agents/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mb-3">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-floating mb-3" style="width: 350px;">
      <%= f.text_field :name, placeholder: "Name", class: "form-control", id: "floatingName" %>
      <%= f.label :name, "名前", class: "form-label" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "更新する", class: "btn custom-btn-color w-100 mb-4" %>
    </div>
  <% end %>

  <%= link_to "戻る", :back, class: "btn" %>
</div>
