<div class="form-section" style="max-width: 600px; margin: auto;">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-floating" }) do |f| %>
    <%= render "agents/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3" style="width: 400px; margin: auto;">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control", id: "floatingEmail" %>
      <%= f.label :email, "Email address", class: "form-label" %>
    </div>

    <div class="form-floating mb-3" style="width: 400px; margin: auto;">
      <%= f.integer_field :agent_id, autofocus: true, placeholder: "Agent ID", class: "form-control", id: "floatingAgentID" %>
      <%= f.label :agent_id, "Agent ID", class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control", id: "floatingPassword" %>
      <%= f.label :password, "Password", class: "form-label" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "form-control", id: "floatingPasswordConfirmation" %>
      <%= f.label :password_confirmation, "Password confirmation", class: "form-label" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= render "agents/shared/links" %>
</div>
